@page "/portfolio"

<style>
    .chocolate-bg {
        background-color: #4e402e;
        color: white;
    }
    .gradient-card {
        background: linear-gradient(to right, #ff91fd, #110239);
    }
</style>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Thomas Smith II</h1>
    <p class="lead">Software Developer</p>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <!-- About Me -->
        <div class="card mb-4 box-shadow bg-gradient-pink">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-dark">About Me</h4>
            </div>
            <div class="card-body chocolate-bg">
                <p>
                    Hello, I'm Thomas Smith, a seasoned software and CAD engineer with a
                    passion for delivering high-impact solutions. With over 6 years of
                    professional experience in software development and 10 years in CAD
                    and engineering, I have honed my skills to take charge of delivering
                    exceptional software products that drive your company's growth.
                </p>
            </div>
        </div>
        <!-- Roles -->
        <div class="card mb-4 box-shadow bg-gradient-brown">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-dark">Roles</h4>
            </div>
            <div class="card-body chocolate-bg">
                <p>
                    I am committed to delivering excellence, and I welcome the opportunity
                    to contribute my skills to your organization's success. Let's connect
                    and explore how I can bring value to your next project.
                </p>
            </div>
        </div>
        <!-- Enterprise -->
        <div class="card mb-4 box-shadow bg-gradient-mixed">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal text-dark">Projects</h4>
            </div>
            <div class="card-body chocolate-bg">
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Rhyme Engine</li>
                </ul>
         
            </div>
        </div>
    </div>
</div>

