@page "/legal"

<h2 id="toc_14">Music Legal Process</h2>

<p><strong>Roles</strong>: Artists, Producers, Songwriters, Managers, Record Labels, Music Publishers, Legal Representatives (Attorneys), Performing Rights Organizations (PROs)</p>

<p><strong>Documents:</strong> Recording Contracts, Publishing Agreements, Licensing Agreements, Performance Agreements, Copyright Registration Applications, Work Registrations, Royalty Statements, Non-Disclosure Agreements (NDAs), Mechanical Licensing Agreements, Synchronization Licensing Agreements</p>

<p><strong>Notes:</strong></p>


<ul>
    <li>Legal Disclaimer</li>
    <li>Meet With Copywright </li>
    <li>Legal Advisors (Free Consultation)</li>
</ul>