@page "/production"

<h2 id="toc_7">Music Production</h2>

<p><strong>Roles</strong>: Producers, Recording Engineers, Mix Engineers, Mastering Engineers, Musicians, Arrangers, Session Players, Studio Owners, Sound Designers, A&R Representatives, Legal Representatives</p>

<p><strong>Documents</strong> Production Agreements, Recording Contracts, Studio Booking Agreements, Royalty Agreements, Non-Disclosure Agreements (NDAs), Session Musician Contracts, Producer Royalty Statements, Intellectual Property Assignments, Release Forms</p>

<h3 id="toc_8">Recording and Mastering</h3>

<ul>
    <li>Template</li>
    <li>Record</li>
    <li>Lyrics</li>
    <li>Pt Session Size Reduction</li>
    <li>Split Sheet</li>
    <li>Copyright.gov (Qty. Limit)</li>
    <li>Licenses</li>
    <li>Mixes</li>
    <li>Masters - Landr (Explore)</li>
    <li>Bounced Files (Mp3 &amp; Wav)</li>
    <li>Perfomance Tracks</li>
    <li>Acapella - Bpm Song Key</li>
</ul>