@page "/song-writing"

<h2 id="toc_3">Songwriting and Composition</h2>

<p><strong>Roles:</strong> Songwriters, Composers, Lyricists, Musicians, Producers, Music Publishers, Arrangers, Music Directors, A&R Representatives, Legal Representatives</p>

<p><strong>Documents:</strong> Songwriting Agreements, Collaboration Agreements, Copyright Registration Applications, Work Registrations, Lyric Sheets, Musical Notations, Split Sheets (outlining ownership percentages), Publishing Contracts, Licensing Agreements</p>

<h3 id="toc_4">Producers</h3>

<ul>
    <li>Shane Alexander</li>
    <li>Eklectik</li>
    <li>J Black</li>
    <li>JWOODCEO </li>
    <li>THRIZZ13</li>
    <li>ROC</li>
</ul>

<h3 id="toc_6">Artists / Songwriters</h3>

<ul>
    <li>GVOSmith</li>
    <li>Thrizz13</li>
    <li>J Rich</li>
</ul>