@page "/"

<PageTitle>Index</PageTitle>

<h2 id="toc_2">Mission</h2>

<p>Our ultimate goal is to create music that will instill positive influence and happiness in artists and listeners for many generations to come.</p>

<a href="/survey" class="btn btn-link">How is Rhyme Engine working for you?</a>
